body {
    background-image: url('Images/cinema-wallpaper-14.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    vertical-align: inherit;
    line-height: 1;
}

.dropdown-search {
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-top: 0px;
    display: inline-block;
}

#HomeNav_txtSearch {
    width: 450px;
    height: 39.5px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 0px;
    margin-bottom: 11.5px;
    margin-left: 9px;
    display: inline-block;
}

#HomeNav_btnSearch {
    height: 40px;
    display: inline-block;
}

.nav-item.dropdown
{
    width: 1400px;
    margin-left: auto;
}

.navSearch{
    width: 1400px;
    display: inline-block;
    vertical-align: central;
}

.nav-link
{

    width: 100%;
    margin-top: 0;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 10px;
    margin-right: 2%;
}

.navbar-nav {
    margin-left: 76%;
}

.nav-item {
    padding-top: .75%;
}

.mainAccount 
{
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    text-align: center;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 0;
    font-size: 18px;
}

.mainMemManagement 
{
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    text-align: center;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 0;
    font-size: 18px;
}

.mainAddActor {
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    text-align: center;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 0;
    font-size: 18px;
}

.mainTitle 
{
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.98);
    min-height: 1000px;
    width: 70%;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 0;
    font-size: 18px;
}

.mainHome {
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 0;
    font-size: 18px;
}

.mainAddTitle {
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    font-family: Corbel, Garamond, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 0;
    font-size: 18px;
}

#ibtnManageAcct {
    margin-top: 5%;
    height: 160px;
    width: 240px;
}

#btnManageSecQuestions {
    background-color: lightgray;
    border: thin;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 7px;
}

h6, .h6{
    color: white;
}

#Title_lblTitleName {
    font-size: 36px;
}

#lblTitleName, #lblActorName
{
    width: 40%;
    font-size: 1.25em;
    margin-left: 4.75%;
    margin-top: 2%;
}

hr
{
    background-color: darkgray;
    width: 90%;
}


#imgTitleImage, #imgActorImage
{
    margin-left: 4.75%;
}

.titleInfo
{
    margin-right: 2%;
    float: right;
    width: 70%;
}

.topInfo 
{
    font-size: 1.25em;
    margin-top: -4%;
    margin-right: 7%;
    float: right;
}

#lblTitleCast, #lblActorRoles
{
    margin-left: 4.75%;
}

#RepeaterPanel {
    align-content: center;
    background-color: rgba(255,255,255, 0.98);
    margin: auto;
    margin-top: 0;
}

td {
    margin: auto;
    margin-top: 0;
    text-align: center;
    align-content: center;
}

#imgResultImage
{
    border: solid;
}

center {
    background-color: rgba(255,255,255, 0.98);
}

#pnlEditorsPicks {
    border-radius: 10px;
    border: solid thin;
}

#lblEditorsPicksLabel
{
    font-weight: bold;
    font-size: 1.35em;
    margin-top: 2%;
    margin-left: 3%;
}

#pnlAddActor 
{
    color: black;
    text-decoration: none;
}

#pnlAddMovie 
{
    color: black;
    text-decoration: none;
}

#pnlAddShow {
    color: black;
    text-decoration: none;
}

#pnlAddGame 
{
    color: black;
    text-decoration: none;
}



#pnlFindRandomTitle {
    border-radius: 10px;
    border: solid thin;
}

#lblRandomPicksLabel {
    font-weight: bold;
    font-size: 1.35em;
    margin-top: 2%;
    margin-left: 3%;
}

#imgRandomGame {
    border-radius: 15px;
    margin-left: 12%;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#imgRandomShow {
    border-radius: 15px;
    margin-left: 12%;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#imgRandomMovie {
    border-radius: 15px;
    margin-left: 12%;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

h2 {
    padding-top: 2%;
}

.card-img-top1
{
    height: 270px;
    width: 190px;
}
#btnSubmit {
    background-color: #3589ff;
    border: thin;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 12px;
    color: lightgray;
}
    #btnSubmit :hover {
        background-color: lightgray;
        border: thin;
        padding: 15px;
        text-align: center;
        font-size: 17px;
        margin: 3px 2px;
        cursor: pointer;
        border-radius: 12px;
        color: #3589ff;
    }

.btnSubmit {
    background-color: #3589ff;
    border: thin;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btnClear {
    background-color: lightgray;
    border: thin;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#btnClear {
    background-color: lightgray;
    border: thin;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.card1 {
    padding: 0;
    border: solid;
    margin-left: 3%;
    display: inline-block;
}

.card2 {
    padding: 2px;
    border: solid;
    margin-left: 4%;
    display: inline-block;
}

.card3 {
    padding: 2px;
    border: solid;
    margin-left: 4%;
    display: inline-block;
}

.card4 {
    padding: 2px;
    border: solid;
    margin-left: 4%;
    display: inline-block;
}

.card-title {
    text-align: center;
}