body {

    background-color: #343233;

    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #343233;
}


.btn {
    vertical-align: inherit;
    line-height: 1;
}

.reviewContainer {
    background-color: #343233;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    color: ghostwhite;
}
.dropdown-search {
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-top: 0px;
    display: inline-block;
}

#HomeNav_txtSearch {
    width: 450px;
    height: 39.5px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 0px;
    margin-bottom: 11.5px;
    margin-left: 9px;
    display: inline-block;
}

#HomeNav_btnSearch {
    height: 40px;
    display: inline-block;
}

.nav-item.dropdown
{
    width: 1400px;
    margin-left: auto;
}

.navSearch{
    width: 1400px;
    display: inline-block;
    vertical-align: central;
}

.nav-link
{

    width: 100%;
    margin-top: 0;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 10px;
    margin-right: 2%;
}

.navbar-nav {
    margin-left: 76%;
}

.nav-item {
    padding-top: .75%;
}

.mainAccount {
    padding-top: .25%;
    background-color: #343233;

    font-size: 18px;
    min-height: 800px;
    color: #778aab;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 0;
   
}
.recentFavoritesAdding {
    float: right;
   width:50%;

}
.addTitle {
    padding-top: .25%;
    background-color: #343233;
    font-size: 18px;
    min-height: 800px;
    color: #778aab;
    width: 70%;
    text-align: left;
    margin: auto;
    margin-top: 0;
}
.mainMemManagement {
    color: #d8e2f1;
    padding-top: .25%;
    background-color: #343233;
    min-height: 800px;
    height: 100%;
    width: 70%;
    text-align: center;
    font-family: Roboto;
    margin: auto;
    margin-top: 0;
}
.center {
    height: 57vh;
    margin: 10px;
    padding: 5px;
    margin-top: 300px;
}
#btnEditTitle {
    float:right;
}
#gvReviews {
    border-top: none;
}
.links {
    color: #778aab;
    letter-spacing: 2px;
    font-size:16px;

}
    .links:hover {
        color: ghostwhite;
        text-decoration: none;
    }
.button {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 38px;
    background: #778aab;
    font-family: Roboto;
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}

    .button:hover {
        outline: none;
        border: none;
        margin: 18px 0;
        padding: 20px 38px;
        background: #343233;
        border: 2px solid #778aab;
        font-family: Roboto;
        color: #778aab;
        letter-spacing: 2px;
        font-weight: 800;
        text-transform: uppercase;
        transition: 0.2s;
        cursor: pointer;
    }
.buttonReview {
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 10px 19px;
    background: #778aab;
    font-family: Roboto;
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}

    .buttonReview:hover {
        outline: none;
        border: none;
        margin: 10px 0;
        padding: 10px 19px;
        background: #343233;
        border: 2px solid #778aab;
        font-family: Roboto;
        color: #778aab;
        letter-spacing: 2px;
        font-weight: 800;
        text-transform: uppercase;
        transition: 0.2s;
        cursor: pointer;
    }
.mainAddActor {
    padding-top: .25%;
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    text-align: center;
    font-family:Roboto;
    margin: auto;
    margin-top: 0;

}

.mainTitle {
    padding-top: .25%;

    min-height: 1000px;
    width: 70%;
    font-family: Roboto;
    margin: auto;
    margin-top: 0;
    background-color: #343233;
    font-family: Roboto;

    color: ghostwhite;
}
.favorites {
    float: right;

}
.editInfo {
    float: left;
}
.container {
    width: 60%;
    font-size: 15px;
}
.mainHome {
    padding-top: .25%;
    background-color: #343233;
    min-height: 800px;
    width: 70%;
    font-family: Roboto;
    margin: auto;
    margin-top: 0;
  
}

.mainAddTitle {
    background-color: rgba(255,255,255, 0.98);
    min-height: 800px;
    width: 70%;
    font-family: Roboto;
    margin: auto;
    margin-top: 0;

}

#ibtnManageAcct {
    margin-top: 5%;
    height: 160px;
    width: 240px;
}

#btnManageSecQuestions {
    background-color: lightgray;
    border: thin;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    margin: 3px 2px;
    cursor: pointer;
    border-radius: 7px;
}

h6, .h6{
    color: white;
}

#Title_lblTitleName {
    font-size: 36px;
}

#lblTitleName, #lblActorName
{
    width: 40%;
    font-size: 1.25em;
    margin-left: 4.75%;
    margin-top: 2%;
}

hr {
    color: darkgray;
    border-color: darkgray;
    background-color: darkgray;
    width: 90%;
    border-top: 1px solid darkgray;
}


#imgTitleImage, #imgActorImage
{
    margin-left: 4.75%;
}

.titleInfo
{
    margin-right: 2%;
    float: right;
    width: 70%;
}

.topInfo 
{
    font-size: 1.25em;
    margin-top: -4%;
    margin-right: 7%;
    float: right;
}

#lblTitleCast, #lblActorRoles
{
    margin-left: 4.75%;
}

#RepeaterPanel {
    align-content: center;
    background-color: rgba(255,255,255, 0.98);
    margin: auto;
    margin-top: 0;
}

td {
    margin: auto;
    margin-top: 0;
    text-align: center;
    align-content: center;
}

#imgResultImage
{
    border: solid;
}

center {
    background-color: rgba(255,255,255, 0.98);
}
.randomFinds {
    background: #282627;
}
.recentFavoritesDiv {

}
.ddl {
    padding: 3px;
    
    color: #778aab;
    height: 40px;
}

.dll:active, select:hover {
    outline-color: #778aab;
}
.searchTextbox {
    height: 40px;
    padding: 3px;
}
.editorImage {
    width: 240px;
    height: 350px;
    box-shadow: 0px 5px +20px black;
    
}
    .editorImage:hover {
        opacity: 0.75;
        transition: .35s ease;
        background-color: #2c2c2c;
    }
#editorImage {
    box-shadow:0px 5px +20px black;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
}
.pnlHome {
    background-color: #343233;
    text-align: center;
    font-family: Roboto;
    color: #778aab;
}



#menu-outer {
   
}

.table {
    display: table; /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding: 10px;
}

    ul#horizontal-list li {
        display: inline;
        padding: 10px;
        filter: drop-shadow(40px 40px 40px #222);
    }




#menu-outers {
}

.table {
    display: table; /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-lists {
    min-width: 696px;
    list-style: none;
    padding: 10px;
}

    ul#horizontal-lists li {
        display: inline;
        padding: 10px;
        filter: drop-shadow(40px 40px 40px #222);
    }
.imageContainer {
  
    display:inline-block;
}
small {
    color:#778aab;
}
.row {
    display: flex;
    color: ghostwhite;
    background-color: #343233;
    text-decoration: none;
}
.column {
    flex: 50%;
    color: ghostwhite;
    background-color: #343233;
    text-decoration: none;
}






#imgRandomGame {
    border-radius: 15px;
    margin-left: 12%;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#imgRandomShow {
    border-radius: 15px;
    margin-left: 12%;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#imgRandomMovie {
    border-radius: 15px;
    margin-left: 12%;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

h4 {
    padding-top: 2%;
    font-weight: 400;
}

.card-img-top1
{
    height: 270px;
    width: 190px;
}


.card1 {
    padding: 0;
    border: solid;
    margin-left: 5%;
    display: inline-block;
}

.card2 {
    padding: 2px;
    border: solid;
    margin-left: 4.5%;
    display: inline-block;
}

.card3 {
    padding: 2px;
    border: solid;
    margin-left: 4.5%;
    display: inline-block;
}

.card4 {
    padding: 2px;
    border: solid;
    margin-left: 4.5%;
    display: inline-block;
}

.card-title {
    text-align: center;
}

.navbar
{
    margin-bottom: 0;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Roboto;
    background-color: #282627;
    padding: 10px;
}