<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_3342_Term_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true"  />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="jiparkhwan@gmail.com" />
    <add key="smtpPass" value="Wnstjd126256" />
    <add key="adminEmail" value="jiparkhwan@gmail.com" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="jiparkhwan@gmail.com">
        <network host="smtp.gmail.com" password="Wnstjd126256" port="587" userName="jiparkhwan@gmail.com"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <applicationSettings>
    <_3342_Term_Project.Properties.Settings>
      <setting name="_3342_Term_Project_GetMovieService_GetMovie" serializeAs="String">
        <value>http://localhost:64859/GetMovie.asmx</value>
      </setting>
      <setting name="_3342_Term_Project_GetShowService_GetShow" serializeAs="String">
        <value>http://localhost:64859/GetShow.asmx</value>
      </setting>
      <setting name="_3342_Term_Project_GetGameService_GetGame" serializeAs="String">
        <value>http://localhost:64859/GetGame.asmx</value>
      </setting>
    </_3342_Term_Project.Properties.Settings>
  </applicationSettings>
</configuration>
